{% extends "base.html" %}
{% load static %}
{% load filters %}

{% block title %}Детали{% endblock %}

{% block nav %}
{% include 'nav.html' with list_types=list_types%}
{% endblock %}

{% block content %}
<main role="main">


  <div class="container mt-3">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-12">
        {% include 'product.html' with product=product%}
      </div>
    </div>
    {% if reviews %}
    <hr>
    {% endif %}

    {% for review in reviews %}

    {{ review.mark|to_star }}<span>{{ review.person__username }}</span>
    <p> {{ review.review }}</p>
    {% endfor %}


    {% if request.user.is_authenticated %}
    <hr>
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-12">
        <h4>Оставьте отзыв:</h4>

        <form method="post">
        {% csrf_token %}

          <div class="form-group">
            <label for="content">Содержание</label>
            <textarea class="form-control" id="content" placeholder="Содержание"
                      name="description"></textarea>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="mark" id="mark1" value="1">
            <label class="form-check-label" for="mark1">
              1
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="mark" id="mark2" value="2">
            <label class="form-check-label" for="mark2">
              2
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="mark" id="mark3" value="3">
            <label class="form-check-label" for="mark3">
              3
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="mark" id="mark4" value="4">
            <label class="form-check-label" for="mark4">
              4
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="mark" id="mark5" value="5">
            <label class="form-check-label" for="mark5">
              5
            </label>
          </div>

          <button type="submit" class="btn btn-primary" name="feedback" value="{{ product.id }}">Оставить</button>
          <h1> </h1>
          <p> </p>
          <p> </p>
        </form>
      </div>
    </div>
    {% endif %}

  </div>


</main>



{% endblock %}